/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .MobileToolbar {
        display: block;
    }

    .DesktopToolbarContent {
        display: none;
    }
    .Toolbar {
        min-height: 5vh;
        padding: 5px;
        overflow: hidden;
        border-bottom: 3px solid rgba(25, 25, 112, 0.19);
    }
    .RightContainer {
        display: inline;
        float: right;
    }
    .SideNavToggle{
        margin-top: 3px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    .MobileToolbar {
        display: block;
    }
    .DesktopToolbarContent {
        display: none;
    }
    .Toolbar {
        min-height: 5vh;
        padding: 5px;
        overflow: hidden;
        border-bottom: 3px solid rgba(25, 25, 112, 0.19);
    }
    .RightContainer {
        display: inline;
        float: right;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Toolbar {
        min-height: 5vh;
        padding: 5px;
        overflow: hidden;
        border-bottom: 3px solid rgba(25, 25, 112, 0.19);
    }

    .DesktopToolbarContent {
        width: 85%;
        overflow: hidden;
        margin: 0 auto;
        /*display: block;*/
        /*display: flex;*/
    }

    .RightContainer {
        display: inline;
        float: right;
        margin-top: 8px;
    }

    .MobileToolbar {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Toolbar {
        min-height: 5vh;
        padding: 5px;
        overflow: hidden;
        border-bottom: 3px solid rgba(25, 25, 112, 0.19);
    }

    .DesktopToolbarContent {
        width: 85%;
        overflow: hidden;
        margin: 0 auto;
        /*display: block;*/
        /*display: flex;*/
    }

    .RightContainer {
        display: inline;
        float: right;
        margin-top: 8px;
    }

    .MobileToolbar {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Toolbar {
        min-height: 5vh;
        padding: 5px;
        overflow: hidden;
        border-bottom: 3px solid rgba(25, 25, 112, 0.19);
    }

    .DesktopToolbarContent {
        width: 85%;
        overflow: hidden;
        margin: 0 auto;
        /*display: block;*/
        /*display: flex;*/
    }

    .RightContainer {
        display: inline;
        float: right;
        margin-top: 8px;
    }

    .MobileToolbar {
        display: none;
    }
}